@font-face {
    font-family: 'airbnb--black';
    src: url(../fonts/AirbnbCerealBlack.ttf);
}

@font-face {
    font-family: 'airbnb--light';
    src: url(../fonts/AirbnbCerealLight.ttf);
}

body {
    padding: 0;
    margin: 0;
}

.topo {
    background: #222222;
    display: flex;
    height: 55px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.topo--texto {
    color: #b3b3b3;
    cursor: pointer;
    text-decoration: underline;
    font-family: 'airbnb--light';
    font-size: 14px;
}

.topo--texto:hover {
   color: #989898; 
}

.fundo {    
    height: 560px;
    background-image: url('../imagens/AIrbnb_.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

.menu--flex {
  flex: 1;
  cursor: pointer;
}

.menus {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item--menu {
   font-family: 'airbnb--light';
   font-weight: 500;
   font-size: 17px;
}

.logo {
    margin-left: 80px;
}

.last--menu--item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu--button {
    background: transparent;
    color: #f7f7f7;
    font-family: 'airbnb--light';
    font-size: 14px;
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 35px;
    border: 0;
    cursor: pointer;
}

.menu--button:hover {
    background: #f7f7f7;
    color: #222222;
}

.menu--icon {
    display: flex;  
    border: 0;
    padding: 10px;
    border-radius: 50%;
    background: transparent;
    color: #f7f7f7;
    cursor: pointer;
}

.menu--icon:hover {
    background: #f7f7f7;
    color: #222222;
}

.icon--globe {
    font-size: 20px;
}

.button--icons {
    background: #ffffff;
    color: grey;
    font-family: 'airbnb--light';
    font-size: 14px;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 35px;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.icon--button {
    font-size: 33px;
}

.icon--button--menu {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 5px;
}


