@font-face {
    font-family: 'airbnb--black';
    src: url(../fonts/AirbnbCerealBlack.ttf);
}

@font-face {
    font-family: 'airbnb--light';
    src: url(../fonts/AirbnbCerealLight.ttf);
}

body {
    padding: 0;
    margin: 0;
}

.topo {
    background: #222222;
    display: flex;
    height: 55px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.topo--texto {
    color: #b3b3b3;
    cursor: pointer;
    text-decoration: underline;
    font-family: 'airbnb--light';
    font-size: 14px;
}

.topo--texto:hover {
   color: #989898; 
}

.fundo {    
    height: 560px;
    background-image: url('../imagens/AIrbnb_.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

.menu--flex {
  flex: 1;
}

.menus {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item--menu {
   font-family: 'airbnb--light';
   font-weight: 500;
   font-size: 17px;
}

.logo {
    margin-left: 80px;
}